<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">FORD</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="home.html">Products<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="distrubution.html">Distrubution Centers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="myproducts.html" tabindex="-1" >Your Products</a>
      </li>
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="orders" tabindex="-1" >Shipments</a>
        </li>
        <a class="nav-link" href="/logout" tabindex="-1" >LOGOUT</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>


  </nav>

  <!-- <nav class=" menu menu--sebastian navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand menu__link" href="#">FORD</a>
    </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> -->
      <!-- <div class="collapse navbar-collapse" id="navbarsExample05"> -->

        <!-- <ul class=" menu__list navbar-nav pl-md-5 ml-auto"> -->
          <!-- <li class="menu__item"><a href="home.html" style="text-decoration:none" class="menu__link nav-link">Products<span class="sr-only">(current)</span></a></li> -->
          <!-- <li class="nav-item menu-item">
            <a class="nav-link" href="home.html">Products<span class="sr-only">(current)</span></a>
          </li> -->
          <!-- <li class="menu__item menu__item--current"><a href="distrubution.html" style="text-decoration:none" class="menu__link nav-link">Distrubution Centers</a></li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="distrubution.html">Distrubution Centers</a>
          </li> -->
          <!-- <li class="menu__item "><a href="myproducts.html" style="text-decoration:none" class="menu__link nav-link">Your Products</a></li> -->
          <!-- <li class="nav-item active">
            <a class="nav-link" href="myproducts.html" tabindex="-1">Your Products</a>
          </li> -->
          <!-- <li class="menu__item"><a href="orders" style="text-decoration:none" class="menu__link nav-link">Shipments</a></li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="orders" tabindex="-1">Shipments</a>
          </li> -->
          <!-- <li class="menu__item"><a href="/logout" style="text-decoration:none" class="menu__link nav-link" tabindex="-1">LOGOUT</a></li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/logout" tabindex="-1">LOGOUT</a>
          </li> -->
        <!-- </ul>
        <div class="navbar-nav ml-auto">
          <form method="post" class="search-form">
            <span class="icon ion ion-search"></span>
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
  </nav> -->
<!-- <a href="/viewdistrubution"><button action = "/viewdistrubution" type="button" class="btn btn-primary" name="button"> View Distrubutions</button></a> -->
<div class="card-columns row">
<% items.forEach(function(item){ %>
  <div class="card dcard">
    <!-- <button type="button" name="button"></button> -->
    <img src="https://images.livemint.com/img/2019/09/11/600x338/Amazon_1568182179661.PNG" alt="Avatar" style="width:100%">
<button class="btn" style="border-radius: 0" type="button" name="button" data-toggle="modal" data-target="#ab<%=item._id%>">
  <div class="dcontainer">
    <h4><b><%=item.fname%></b></h4>
    <p><%=item.state%>,<%=item.city%> </p>
  </div>
</button>
<div class="modal" id="ab<%=item._id%>">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">product View</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div >
            <h1>Details</h1>
        </div>
        <hr>
        <div >
          <p><strong>Name: <%=item.fname%></strong></p>
          <p><strong>Place: <%=item.state%></strong></p>
          <p><strong>Number: <%=item.phone%></strong> </p>
          <p><strong>Mail: <%=item.email%></strong></p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</div>
<% })%>



</div>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>
