<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">FORD</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="dhome.html"> My Products<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dealer.html">Dealers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="shipment.html" tabindex="-1" >Shipments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" tabindex="-1" >LOGOUT</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
  </nav>
<div class="table-responsive-sm">
  <table class="table">
    <tr>
      <th scope="col">Productid</th>
      <th scope="col">Dealer/Holder</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Qrcode Scan</th>
    </tr>
<tbody>
<% items.forEach(function(item){ %>
    <tr>
      <td><%=item.productid%></td>
      <td><%=item.holdername%></td>
      <td><%=item.date%></td>
      <td>
      <% if(item.shipped ==true){ %>
      <button disabled class="btn btn-primary" style="margin-right: 50px; margin-bottom:10px">Shipped</button><a href="/can_ship/<%=item.email%>/<%=item.productid%>"><button class="btn btn-primary" style="margin-right: 10px;" >Cancel</button></a> Reached
      <% } else{ %>
      <a href="/suc_ship/<%=item.email%>/<%=item.productid%>"><button class="btn btn-primary" style="margin-right: 50px; margin-bottom:10px">Shipped</button></a> <a href="/can_ship/<%=item.email%>/<%=item.productid%>"><button disabled class="btn btn-primary" style="margin-right: 10px;" >Cancel</button></a> Reaching
      <% } %>
      </td>
      <td>
        <% if(item.qrcode ==true){ %>
         Qrcode Scanned
        <% } else{ %>
         Processing
        <% } %>
      </td>
    </tr>
<% })%>


</tbody>
  </table>
</div>

  </body>


</html>
